body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:rgb(240, 128, 178);
    margin: 0;
        
}
header {
    background-color: #ff5647;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;

}
.menu{
    margin: 20px;
}
.menu-item{
    background: white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
}